* {
    /* border: red solid 2px; */
    scrollbar-color: #d83636 #d83636;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    --h2-responsive: clamp(2.2rem, 8vw, 3.5rem);
    --card-bg: #434040;
    --p-responsive: clamp(1.25rem, 3vw, 2.5rem);
}

img {
    max-width: 100vw;
}

body {
    margin: 0;
    display: flex;
    overflow: scroll;
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}

.red-stripe {
    color: #d83636;
}

/* Header CSS */

.header {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
}

.header-top {
    display: flex;
    margin-left: 2vw;
    height: 30%;
}

.header-top h2 {
    color: white;
    font-size: clamp(0.1em, 10vw, 3em);
    margin: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 40px;
    flex-shrink: 1;
    justify-self: left;
}

.underlined {
    text-decoration: underline 1rem #c83636;
}

.header-middle {
    display: flex;
}

.first-image {
    position: absolute;
    left: 0;
    height: 45%;
    top: 30%;
    z-index: 3
}

.second-image {
    position: relative;
    bottom: 10px;
    width: 10%;
    z-index: 1;
    left: 45%;
}

.third-image {
    position: absolute;
    width: 28%;
    right: 5%;
    bottom: -2.5px;
}

.first-image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.second-image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.third-image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}


.test-container {
    height: 200vh;
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: black;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #d83636;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid black;
    /* creates padding around scroll thumb */
}

@media screen and (max-width: 768px) {

    .second-image {
        position: relative;
        bottom: 90%;
        width: 15%;
        z-index: 1;
        left: 45%;
    }

    .header-top h2 {
        text-align: left;
        margin-left: 5%;
    }

    .first-image {
        margin-left: auto;
    }

}




/* Kontakt */

.contact {
    background-image: url(images/Contact-bg.png);
    background-size: cover;
    background-position: center;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    background-blend-mode: darken;
}

.contact-heading {
     font-size: clamp(2rem, 10vw, 100px);
    font-weight: bold;
    color: white;
    align-self: center;
}

.contact-text {
    font-size: var(--p-responsive);
    font-weight: bold;
    color: white;
    align-self: center;
}

.contact-card {
    display: flex;
}

.contact-card p {
    font-size: var(--p-responsive);
    margin: auto;
    margin-left: 10px;
    color: white;
}

.contact-card p a {
    text-decoration: none;
    color: white;
}

.contact-card img {
    width: 75px;
    min-width: 75px;
    
}

@media (min-width:1000px) {
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 80vh;
        /* grid-template-rows: 1fr 1fr 1fr; */
        grid-template-areas: "contact-heading contact-card-1"
                            ". contact-card-2"
                            "contact-text contact-card-3";
        
        .contact-heading {grid-area: contact-heading; }
        .contact-text {grid-area: contact-text; }
        .contact-card-1 {grid-area: contact-card-1; }
        .contact-card-2 {grid-area: contact-card-2; }
        .contact-card-3 {grid-area: contact-card-3; }
    }
    .contact-card {
        justify-self: center;
        width: 50%;
    }

}





/* Mission */

.mission {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    min-height: 100vh;
    justify-content: space-evenly;
}

.mission-heading {
    font-size: clamp(1rem, 10vw, 3rem);
    font-weight: 900;
    margin-left: 20px;
}

.mission-middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.mission-middle p {
    width: 45vw;
    min-width: 300px;
    font-size: clamp(1.25rem, 3vw, 2.5rem);
    font-weight: 700;
}

.mission-img {
    aspect-ratio: 2000/1428;
    width: 45vw;
    min-width: 300px;
    align-self: center;
}

.mission-img img {
    object-fit: cover;
    width: 100%;
}

.mission-button {
    color: white;
    background-color: #d83636;
    border: none;
    font-size: clamp(1rem, 3vw, 3rem);
    border-radius: 20px;
    padding: 5px;
}

.mission a {
    margin: auto;
    margin-bottom: 30px;
}

@media (max-width: 600px) {


    .mission-heading {
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .mission-middle p {
        width: 95vw;
        margin: 0;

    }

    .mission-img {
        width: 95vw;
    }

}

@media (max-width: 750px) {
    .mission-button {
        width: 80vw;
    }
}

/* Example */

.example {
    color: white;
    background-color: var(--card-bg);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

.example h2 {
    font-size: var(--h2-responsive)
}

.example p {
    font-size: var(--p-responsive);
}

.example iframe {
    width: 100%;
    aspect-ratio: 1/1;
    margin: auto;
    border-radius: 20px;
}

@media (min-width: 750px) {
    .example {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .example iframe {
        height: 90%;
        width: 90%;
        grid-row: 1/ 3;
        grid-column: 2/ 3;
    }

    .example p {
        align-self: end;
    }

}

/* Services */

.services {
    --card-bg: #434040;
    --card-text-color: white;
    --accent-color: #d83636;
}

.service-cards div {
    background-color: var(--card-bg);
    width: 340px;
    height: 770px;
    aspect-ratio: 1 / 1.25;
    margin: auto;
    border-radius: 20px;
    color: var(--card-text-color);
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    padding: 5px;
}


.services h2 {
    font-size: var(--h2-responsive)
}

.service-cards div :first-child {
    display: none;
}

.service-cards div h2 {
    font-size: 3rem;
}

.service-cards div p {
    font-size: 2rem;
    text-align: left;
    width: 80%;
    margin: auto;
    position: relative;
    z-index: 2;
    padding: 20px;
}

.service-cards div :last-child {
    width: 200px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}

@media (min-width: 768px) {

    .service-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1550px) {
    
    .service-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}